.id-container {
    display: flex; 
    width: auto;
    height: auto;
    flex-direction: column; 
    background-color: #32cfb5;
    border: 1px, solid, gray;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer; 
    -moz-osx-font-smoothing: grayscale; 
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 0px 0px 30px #f0fdf9 ;   

} 


.id-container:hover {
    transform: scale(1.05)
}
