body{
    display: flex; 
    
    background-image: url(./filipinas.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-self: auto;
    align-items: center;
    display: flex;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    min-height: 100vh;
    
}

.botonLanding{
    display: flex; 
    margin: 300px; 
    justify-content: center;
    align-items: center;
}

