.cards-list {
    width: 85vw;
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    grid-gap: 20px;  

}

  .encendido:hover {
    background-color: #646cff;
  }

 .encendido:disabled{
background-color: #119080;
 }
 
    
  